In [1]:
# Import our libraries 

# Pandas and numpy for data wrangling
import pandas as pd
import numpy as np

# Seaborn / matplotlib for visualization 
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
%matplotlib inline

# Import the trees from sklearn
from sklearn import tree

# Helper function to split our data
from sklearn.model_selection import train_test_split

# Helper fuctions to evaluate our model.
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, f1_score, roc_auc_score 

# Helper function for hyper-parameter turning.
from sklearn.model_selection import GridSearchCV

# Import our Decision Tree
from sklearn.tree import DecisionTreeClassifier 

# Import our Random Forest 
from sklearn.ensemble import RandomForestClassifier

In [19]:
#df = pd.read_csv('Dota2_dataset/players.csv')
df = pd.read_csv('data/players.csv')
df.head()

,match_id,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,...,unit_order_glyph,unit_order_eject_item_from_stash,unit_order_cast_rune,unit_order_ping_ability,unit_order_move_to_direction,unit_order_patrol,unit_order_vector_target_position,unit_order_radar,unit_order_set_item_combine_lock,unit_order_continue
0,0,0,86,0,3261,10960,347,362,9,3,...,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN
1,0,1,51,1,2954,17760,494,659,13,3,...,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,83,2,110,12195,350,385,0,4,...,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,0,2,11,3,1179,22505,599,605,8,4,...,1.0,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN
4,0,3,67,4,3307,23825,613,762,20,3,...,3.0,NaN,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df_player_rating = pd.read_csv('data/player_ratings.csv')
df_player_rating.head()

   account_id  total_wins  total_matches  trueskill_mu  trueskill_sigma
0      236579          14             24     27.868035         5.212361
1        -343           1              1     26.544163         8.065475
2       -1217           1              1     26.521103         8.114989
3       -1227           1              1     27.248025         8.092217
4       -1284           0              1     22.931016         8.092224

In [49]:
#remove anonymous players
select_features = df['account_id'] != 0

df = df[select_features]
#display all of our rows
pd.set_option("display.max_columns", None)
df.head()

select_condition_3 = df_player_rating['account_id'] > 0
df_player_rating = df_player_rating[select_condition_3]
df_player_rating.tail()

        account_id  total_wins  total_matches  trueskill_mu  trueskill_sigma
834215      136022           1              2     24.065296         7.614250
834218      215153           0              1     24.004033         8.150131
834219      272061           0              1     22.214808         8.010834
834222      106173           0              1     23.069381         7.998792
834223      312076           1              1     28.217084         7.889176

In [71]:
df_p = pd.merge(df_player_rating, df, left_on='account_id', right_on='account_id')

def int_to_float(x):
    return int(x)

df_p['trueskill_rating'] = df_p['trueskill_mu'].apply(int_to_float)
df_p.iloc[10:20]

,account_id,total_wins,total_matches,trueskill_mu,trueskill_sigma,match_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,assists,denies,last_hits,stuns,hero_damage,hero_healing,tower_damage,item_0,item_1,item_2,item_3,item_4,item_5,level,leaver_status,xp_hero,xp_creep,xp_roshan,xp_other,gold_other,gold_death,gold_buyback,gold_abandon,gold_sell,gold_destroying_structure,gold_killing_heros,gold_killing_creeps,gold_killing_roshan,gold_killing_couriers,unit_order_none,unit_order_move_to_position,unit_order_move_to_target,unit_order_attack_move,unit_order_attack_target,unit_order_cast_position,unit_order_cast_target,unit_order_cast_target_tree,unit_order_cast_no_target,unit_order_cast_toggle,unit_order_hold_position,unit_order_train_ability,unit_order_drop_item,unit_order_give_item,unit_order_pickup_item,unit_order_pickup_rune,unit_order_purchase_item,unit_order_sell_item,unit_order_disassemble_item,unit_order_move_item,unit_order_cast_toggle_auto,unit_order_stop,unit_order_taunt,unit_order_buyback,unit_order_glyph,unit_order_eject_item_from_stash,unit_order_cast_rune,unit_order_ping_ability,unit_order_move_to_direction,unit_order_patrol,unit_order_vector_target_position,unit_order_radar,unit_order_set_item_combine_lock,unit_order_continue,trueskill_rating
10,135506,11,23,24,5,39984,47,2,4406,11835,532,557,10,3,12,15,109,None,15958,0,1349,114,0,50,41,152,0,17,0,"6,813","9,044",NaN,615,333,-897,NaN,NaN,782,"3,667","4,171","4,608",NaN,NaN,NaN,"3,237",42,56,582,3,256,4,155,NaN,151,17,NaN,NaN,NaN,59,20,3,NaN,13,12,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,23
11,135506,11,23,24,5,42115,104,131,3308,15875,526,563,5,3,18,6,191,None,12106,0,4016,48,0,178,1,112,143,19,0,"8,031","10,885",357,119,NaN,-627,NaN,NaN,875,"3,877","3,346","7,262",200,NaN,NaN,"3,303",102,102,889,83,95,5,17,NaN,193,19,NaN,NaN,NaN,15,24,3,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,23
12,115150,5,8,29,7,31848,84,132,3107,6740,362,209,4,3,8,2,16,18.3953,2688,0,1017,0,180,108,0,0,0,10,0,"2,738","2,719",NaN,97,NaN,-477,NaN,NaN,50,"4,009","2,193",556,200,NaN,NaN,"2,254",99,NaN,369,6,81,3,17,NaN,42,10,NaN,NaN,2,2,20,2,NaN,1,NaN,NaN,NaN,NaN,NaN,1,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,28
13,115150,5,8,29,7,47299,90,3,3691,7980,326,297,1,4,10,0,52,None,5081,641,578,36,108,214,42,0,0,14,0,"5,202","4,647",447,409,249,-686,NaN,NaN,NaN,"3,760","1,958","1,972",200,NaN,NaN,"3,398",128,NaN,278,83,72,1,17,NaN,19,14,NaN,NaN,1,4,33,NaN,NaN,2,NaN,NaN,NaN,NaN,3,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,28
14,142607,65,134,27,2,43188,28,4,500,21310,404,441,6,13,12,6,171,111.569,6800,0,1545,48,116,114,102,1,0,22,0,"9,515","14,308",596,"1,134",588,"-5,417",NaN,NaN,"1,580","4,061","5,267","7,367",200,150,NaN,"5,486",NaN,172,785,74,126,7,299,NaN,129,22,2,2,9,29,49,8,NaN,15,NaN,NaN,NaN,NaN,4,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,27
15,15844,47,94,26,3,3147,96,128,1703,6615,302,345,4,10,3,3,58,26.5679,6372,0,5,127,214,1,36,46,182,14,0,"4,703","5,692",NaN,90,66,"-2,390",NaN,NaN,NaN,320,"3,361","2,394",NaN,NaN,NaN,"2,612",1,1,272,15,12,4,58,NaN,NaN,14,NaN,NaN,NaN,3,18,NaN,NaN,4,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25
16,15844,47,94,26,3,3433,38,0,1907,14490,413,480,5,13,28,4,104,34.1797,10282,0,971,50,181,1,36,108,46,19,0,"11,055","7,961","1,251",516,282,"-3,887",NaN,NaN,725,"4,228","4,523","4,133",400,NaN,NaN,"3,612",2,16,385,66,55,5,164,NaN,2,19,1,NaN,1,5,38,4,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25
17,15844,47,94,26,3,6865,17,4,1819,18440,569,726,16,5,8,3,121,23.6107,15436,532,1176,63,41,98,121,123,0,22,0,"14,854","10,224",NaN,178,100,"-2,338",NaN,NaN,"1,442","4,028","6,979","4,999",200,NaN,NaN,"4,091",NaN,9,534,62,41,2,159,NaN,4,21,NaN,NaN,NaN,17,37,4,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25
18,15844,47,94,26,3,34113,31,0,671,8720,293,378,3,9,13,5,30,0.617578,9321,955,65,214,79,43,23,60,21,16,0,"6,613","6,384",NaN,765,78,"-2,691",NaN,NaN,NaN,720,"5,035","1,184",NaN,NaN,NaN,"3,693",1,NaN,228,32,153,2,26,NaN,NaN,15,NaN,NaN,NaN,2,32,NaN,NaN,8,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25
19,4081,16,34,25,4,755,59,128,834,8295,399,352,7,16,8,3,38,None,14101,0,0,63,164,162,0,0,151,13,0,"5,733","4,070",NaN,NaN,NaN,"-4,514",-742,NaN,NaN,NaN,"6,792","1,560",NaN,NaN,NaN,"2,549",26,11,172,8,56,4,9,31,NaN,13,NaN,NaN,NaN,NaN,21,NaN,NaN,11,16,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25

In [91]:
#engineer our selected features in order to predict gold earned per minute
selected_features = ['gold_spent', 'gold', 'xp_per_min', 'kills', 'deaths', 'assists', 'denies', 'gold_per_min', 'level', 'total_wins', 'hero_damage', 'hero_healing', 'tower_damage' , 'item_0', 'item_1', 'item_3', 'item_4', 'item_5']

X = df_p[selected_features]

y = df_p['trueskill_rating']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

In [32]:
pd.set_option("display.max_rows", None)
df.isnull().sum()

match_id                                  0
account_id                                0
hero_id                                   0
player_slot                               0
gold                                      0
gold_spent                                0
gold_per_min                              0
xp_per_min                                0
kills                                     0
deaths                                    0
assists                                   0
denies                                    0
last_hits                                 0
stuns                                     0
hero_damage                               0
hero_healing                              0
tower_damage                              0
item_0                                    0
item_1                                    0
item_2                                    0
item_3                                    0
item_4                                    0
item_5                                    0
level                                     0
leaver_status                             0
xp_hero                                1229
xp_creep                                 54
xp_roshan                            199278
xp_other                              12439
gold_other                            59378
gold_death                             4570
gold_buyback                         223304
gold_abandon                         307260
gold_sell                             60679
gold_destroying_structure             12431
gold_killing_heros                     1021
gold_killing_creeps                     212
gold_killing_roshan                  149292
gold_killing_couriers                256934
unit_order_none                      318830
unit_order_move_to_position              35
unit_order_move_to_target             40815
unit_order_attack_move                73800
unit_order_attack_target                 67
unit_order_cast_position               1027
unit_order_cast_target                 9859
unit_order_cast_target_tree           18926
unit_order_cast_no_target               498
unit_order_cast_toggle               253431
unit_order_hold_position              69365
unit_order_train_ability                 55
unit_order_drop_item                 179316
unit_order_give_item                 243603
unit_order_pickup_item               148673
unit_order_pickup_rune                48096
unit_order_purchase_item                 44
unit_order_sell_item                  66722
unit_order_disassemble_item          308419
unit_order_move_item                   2179
unit_order_cast_toggle_auto          296440
unit_order_stop                      271219
unit_order_taunt                     318831
unit_order_buyback                   222910
unit_order_glyph                     180143
unit_order_eject_item_from_stash     296517
unit_order_cast_rune                 318823
unit_order_ping_ability               94004
unit_order_move_to_direction         315452
unit_order_patrol                    318831
unit_order_vector_target_position    318831
unit_order_radar                     318831
unit_order_set_item_combine_lock     318831
unit_order_continue                  318831
dtype: int64

In [92]:
model = RandomForestClassifier(max_depth=2)

model.fit(X_train,y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_true=y_test, y_pred=y_pred)
print("Accuracy Score: %f" % accuracy)

precision = precision_score(y_true=y_test, y_pred=y_pred, average='micro')
print("Precision Score: %f" % precision)

recall = recall_score(y_true=y_test, y_pred=y_pred, average='micro')
print("Recall Score: %f" % recall)

f1 = f1_score(y_true=y_test, y_pred=y_pred, average='micro')
print('F1 Score: %f' % f1)

Accuracy Score: 0.129570
Precision Score: 0.129570
Recall Score: 0.129570
F1 Score: 0.129570